<div class="modal" materialize="modal" [materializeActions]="modalActions">
  <div class="modal-content">
    <div class="row">
      <div class="row">
        <span class="modal-close right">
          <i class="fa fa-times" aria-hidden="true"></i>
        </span>
      </div>
      <div class="row">
        <h3 class="grey-text text-darken-2">{{authMode}}</h3>
          <app-login-form (onFormResult)="onLoginFormResult($event)" >
          </app-login-form>
      </div>
       <div class="row">
        <span class="grey-text text-darken-2" *ngIf="isLoginMode()">
          Already have an account? <a (click)="authMode='login'">Click here to login.</a>
        </span>
      </div>
    </div>
  </div>
</div>